*{
	padding: 0px;
	margin: 0px;
	color: red;
}
.iconbar{
	width: 1300;
	height: 35px;
/*	background-color: gray;*/
	box-shadow: 0.5px 0.5px 5px 0.5px black;
}
.icn1{
	color: black;
	font-size: 20px;
	float: right;
	padding: 7px;
	margin-right: 15px;
}

.yasir01{
	color: black;
	font-size: 20px;
	float: left;
	padding: 7px;
	

}
.yasir0{
	color: black;
	font-size: 10px;
	float: left;
	margin-top: 8px;
	font-family: cursive;
	
}